<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Tree Species Identifier</title>
  <meta name="description" content="Tree species identifier">
  <meta name="author" content="Nathaniel Blair-Stahn">

  <script>
    submit = function(){
      $.post({
        url: "/identify",
        contentType: "image/jpeg",
        data: "",
        success: function(result){
        }
      })
	  }
  </script>

  <style>
    .hidden {
	  display: none;
	  }
  </style>

</head>

<body>

    <h1>Identify tree species from images</h1>

    <h3>Upload an image file</h3><!-- or enter a link to an image</h3>-->

    <!--<form action="submit();">
      <label for="image_file">Image file</label>-->
      <input type="file" name="image" id="image_file">
      <!--<label for="image_url">Link to image</label>
      <input type="url" name="image" placeholder="url of image" id="image_url">
      -->
      <!-- <input type="submit" value="Submit"> -->
    <!--</form>-->

    <button onclick="submit();">Submit Image</button>

    <p><span class="hidden"></span></p>

    <!--Perhaps use an iframe to display content from Flickr.
    An iframe "displays a webpage within a webpage" (from w3schools.com)
    <iframe src="demo_iframe.htm" height="200" width="300"></iframe>
    -->

</body>
</html>
